#jinja2: lstrip_blocks: "True"
[Unit]
Description=Wallabag ({{ wallabag_identifier }})
{% for service in wallabag_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill {{ wallabag_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ wallabag_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ wallabag_identifier }} \
			--log-driver=none \
			--network={{ wallabag_container_network }} \
			--mount type=bind,src={{ wallabag_data_path }},dst=/var/www/wallabag/web/assets/images \
			--env-file={{ wallabag_base_path }}/env \
			--label-file={{ wallabag_base_path }}/labels \
			--tmpfs=/tmp:rw,noexec,nosuid,size=512m \
			{% for arg in wallabag_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ wallabag_container_image }}

{% for network in wallabag_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ wallabag_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ wallabag_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill {{ wallabag_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ wallabag_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ wallabag_identifier }}

[Install]
WantedBy=multi-user.target
